#window-wrapper{
	height:500px;
	width:800px;
	margin:20px;
	position:relative;
	border:1px solid black;

	z-index:100;
}
#left-window{
	height:90%;
	width:40%;
	position:absolute;
    display: inline-block;
	top:5%;
	left:2%;
	border:1px solid black;
	z-index:150;
}
#right-window{
	height:90%;
	width:40%;
	position:absolute;
    display: inline-block;
	top:5%;
	right:2%;
	border:1px solid black;
	z-index:150;
}
#arrow{
	display:inline-block;
	position:absolute;
	left:44.5%;
	padding-left:1px;
	top:45%;
}
#transfer{
	width:50px;
}
#organize-button{
	display:inline-block;
	position:absolute;
	top:80%;
	left:45.5%;
}
.money{
	position:absolute;
	top:0px;
	left:0px;
	z-index:200;
}
